/* * General */
body {
    overflow-y: hidden;
    background-color: #90e0ef;
}

.main-display {
    height: 100vh;
}


/* * Utilities */



/* * Card */
/* Card */
.card {
    border-radius: 30px;
    padding: 20px;
    text-align: center;
}

.card-dimension {
    width: 400px;
    height: 150px;
}

.card-dimension-higher {
    height: 200px;
}

/* Title */


/* Tips */
.tips {
    display: block;
}

.tips-none {
    display: none;
}


/* Form */
input {
    border: 1px solid #0077b6;
}

.btn-css {
    background-color: #0077b6;
    color: white;
    border-radius: 20px;
}


/* * Pug */
.pug-image-none {
    display: none;
}

.pug-image {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}